<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFo-Osnlk_qFm5Fr3AA3Gk_-j0TredHOA</string>
	<key>GCM_SENDER_ID</key>
	<string>548406890449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.id.scanner</string>
	<key>PROJECT_ID</key>
	<string>id-card-scanner-38ac1</string>
	<key>STORAGE_BUCKET</key>
	<string>id-card-scanner-38ac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548406890449:ios:a14e1d353c419b75b55af0</string>
</dict>
</plist>